// Layout Header
//==============================================================================
// Site wide header styles

header {
	background-color: rgb(58, 65, 117);
	color: $white;
	font-size: 2.5em;
	color: $white;
	overflow: auto;
}

.header-container {
	padding: 0 10px;
}

.header_logo {
	max-width: 200px;
	margin: 10px 0;
	img {
		display: block;
		max-height: 30px;
		width: auto;
	}
}

.header_stopper {
	background: linear-gradient(to right, #5F65B1 , #168ACC);
	color: $white;
	padding: 90px 0 30px;
	margin-bottom: 30px;
	h1, h2 {
		color: $white;
	}
}


.page-title {
	.page-title_heading {
		@extend .kilo;
		margin-bottom: 0;
	}
}