
// General layout Styles
//==============================================================================
// Styles that are site wide like wrappers etc.

body {
	background-color: $bodyBg;
    color: $textcolor;
    font-family: $brand-face;
	font-weight: 400;
	font-size: 100%;
}

::selection {
	background-color: lighten($brandcolor01, 15%);
	color: lighten($brandcolor01, 75%);
}

hr {
    border: 0;
    height: 1px;
    background: #D2D2D2;
	margin: 5px 0 15px;
}

input, textarea {
	// display: block;
	// width: 100%;
	// padding: 10px;
	// background: #FDFDFD;
	// border: 1px solid #DADADA;
	// outline: none;
	// box-sizing: border-box;
	// margin-bottom: $gutterWidth/2+px;
}

.wrapper { 
    max-width: $siteWidth +px;
    padding: 0 $gutterWidth+px;
    margin: 0 auto;
}

.wrapper-absolute {
	position: absolute;
    width: $siteWidth+px;
    max-width: 100%;
    margin-left: -$siteWidth/2+px;
    left: 50%;
    top: 0px;
    bottom: 0px;
    @include mediaq-size($siteWidth) {
    	position: initial;
    	width: initial;
		margin-left: initial;
		left: 0px;
		right: 0px;
		.section-banner_content {
			width: initial !important;
		}
    }
}

.wrapper-absolute-half {
	position: absolute;
    width: $siteWidth/2+px;
    max-width: 100%;
    margin-left: -$siteWidth/2+px;
    left: 50%;
    top: 0px;
    bottom: 0px;
    box-sizing: border-box;
    @include mediaq-size($siteWidth) {
    	position: initial;
    	width: initial;
		margin-left: initial;
		left: 0px;
		right: 0px;
		.section-banner_content {
			width: initial !important;
		}
    }
}

.va-center {
	display: table;
	height: 100%;
	.va-inner {
		display: table-cell;
		vertical-align: middle;
		width: 100%;
	}
}

.page_banner {
    z-index: -1;
    position: relative;
    border-bottom: 1px solid #DDD;
    min-height: 260px;
	img {
	    position: fixed;
	    display: none;
	    left: 0;
	    right: 0;
	    margin: 0 auto;
	    box-shadow: 0 3px 6px rgba(0,0,0,0.16),0 3px 6px rgba(0,0,0,0.23);
	}
}

.well-light {
	background-color: #FFF;
}

.boder {
	border: 2px solid $grey;
}

.dashed-border {
	border: 2px dashed $grey;
}

.labeled-divider {
	position: relative;
	text-align: left;
	font-size: 14px;
	font-weight: 700;
	margin: 10px 0 15px;
	overflow: hidden;
	z-index: 1;
	> span {
		background-color: #FFF;
		float: left;
		display: inline-block;
		padding-right: 10px;
		z-index: 1;
	}
	&:after {
		position: absolute;
		display: block;
		content: '';
		background-color: #D2D2D2;
		height: 1px;
		top: 49%;
		left: 0px;
		right: 0px;
		z-index: -1;
	}
}

.btn {
	display: inline-block;
	border-radius: $brand-round+px;
	background-color: $brandcolor01;
	color: lighten($brandcolor01, 50%);
	padding: 5px;
	margin: 10px 0;
	border: none;
	outline: none;
	text-align: center;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: box-shadow .75s ease, color .75s ease;
	&:hover, &:active, &:focus, &:visited {
		color: lighten($brandcolor01, 75%);
		outline: none;
		box-shadow: 0 3px 3px rgba(0,0,0,0.15), 0 3px 6px rgba(0,0,0,0.25);
	}
	&.btn-txt {
		color: $brandcolor01;
		text-transform: uppercase;
		background-color: transparent;
		box-shadow: none;
		padding: 10px;
		border: 0px;
		margin: 0;
		transition: background-color .75s ease;
		&:hover {
			box-shadow: none;
			background-color: $bodyBg;
		}
	}
}

.btn-add-client {
	transition: color .5s ease-in-out;
	span {
		position: relative;
		z-index: 1;
	}
	i {
		position: relative;
		background-color: $brandcolor01;
		color: #FFF;
		padding: 10px;
		line-height: 10px;
		font-size: 10px;
		border-radius: 50%;
		margin-right: 10px;
		z-index: 1;
		&:after {
			display: block;
			content: '';
			position: absolute;
			background-color: $brandcolor01;
			z-index: -1;
			border-radius: 50%;
			
			width: 30px;
			height: 30px;

			top: 50%;
			left: 50%;
			margin-top: -15px;
			margin-left: -15px;

			transition: opacity .5s ease-in-out;
			opacity: 0;
			transform: scale(0.9);
		}
	}
	&:hover {
		color: #FFF;
		background-color: transparent;
		i:after {
			opacity: 1;
			transform: scale(100);
			transition: transform 1.5s ease-in-out, opacity .5s ease-in-out;
		}
	}
}

#contact-form {
	h1 {
		margin-bottom: 0px;
		cursor: pointer;
	}
}

.form-group {
	// display: none;
}

.pagination {
	padding: 0;
	margin: 0;
	li {
		display: inline-block;
		background-color: $brandcolor01;
		color: $white;
		margin: 0 2px;
		padding: 10px;
		min-width: 20px;
		text-align: center;
		a {
			@include link(1, lighten($brandcolor01 , 25%), lighten($brandcolor01 , 25%), lighten($brandcolor01 , 25%), 0, 0, 1);
		}
	}
}

.sidebar {
	.menu {
		.menu_title {
			display: block;
			font-size: 1.25em;
			margin-bottom: 10px;
		}
		ul {
			list-style: none;
			padding: 0;
			margin: 0;
			li {
				display: block;
				line-height: 2em;
				padding: 2px 0;
				font-weight: 300;
			}
		}
	}
}

#map {
	display: block;
	width: 100%;
	height: 400px;
}

#pac-input {
    background-color: #fff;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 300px;
    height: auto;
    line-height: 35px;
    margin: 10px 0;
	border-bottom: none;
    &:focus {
    	border-bottom: inherit;
    	box-shadow: inherit;
    }
}
