// Variables 
//==============================================================================

// DEBUG - highlight any potential markup / accessibility errors (true or False)
//==============================================================================

$debug-mode         : false;


// Box-sizing - border-box global? 
//==============================================================================
// read paulirish.com/2012/box-sizing-border-box-ftw

$global-border-box  : false;


// Base Sizes 
//==============================================================================

$base-font-size     : 16!default;
$base-line-height   : 28!default;


// Default Border Radius 
//==============================================================================

$brand-round        : 4!default; 


// Responsive Variables 
//==============================================================================

$responsive         : true; 
$lap-start          : 768;
$desk-start         : 1024;

$smalldesk          : 960; 
$tablet             : 768;
$smalltablet        : 600;  
$mobilel            : 568;
$mobile             : 320;

$fullWidth          : 768; // reset columns at


// Font Sizes 
//==============================================================================
$giga-size          : 96!default;
$mega-size          : 72!default;
$kilo-size          : 48!default;

$h1-size            : 18!default; // .alpha
$h2-size            : 18!default; // .beta
$h3-size            : 16!default; // .gamma
$h4-size            : 16!default; // .delta
$h5-size            : 14!default; // .epsilon
$h6-size            : 12!default; // .zeta

$milli-size         : 12!default;
$micro-size         : 10!default;


// Brand Variables
//==============================================================================

$brand-face         : 'Lato', sans-serif!default;

$white              : #fff;
$black              : #000000;
$grey               : #AAAAAA;

$brandcolor01       : #2c3e50; // color  
$brandcolor02       : #34495e; // color
$brandcolor03       : #e67e22; // color
$brandcolor04       : #000; // color
$brandcolor05       : #000; // color
$brandcolor06       : #000; // color

$success            : #3bd27a;
$error              : #FF0000;
$warning            : #FFE336; 
$info               : #3399CC;

$headingcolor       : $brandcolor03;
$textcolor          : #717171;
$textcolor02        : #000;

$bodyBg             : #ebeff0;


// Assign our `$base-line-height` to a new spacing var for more transparency.
//==============================================================================

$base-spacing-unit  : $base-line-height!default;
$half-spacing-unit  : $base-spacing-unit / 2!default;
$line-height-ratio  : $base-line-height / $base-font-size;


// Grid Variables
//==============================================================================

$columns            : 24!default;
$gutterWidth        : 30!default;
$siteWidth          : 1200;

$eqhBorder          : 1px dotted $grey;