// Theme styles 
//==============================================================================

//Base Styles

    @import "common/fonts";
    @import "common/typography";    
    @import "common/forms"; 
    @import "common/notices";

// Plugin base styles

    @import "plugins/slick";
    @import "plugins/animate";
    @import "plugins/dropzone";
    @import "plugins/combobox";
    @import "plugins/sweetalert";
    @import "plugins/hierarchical-display";

// Layout Styles

    @import "layout/layout";
    @import "layout/header";
    @import "layout/sidebar";
    @import "layout/footer";


// Partials Styles

    @import "partials/box";
    @import "partials/section";
    @import "partials/resources";
    @import "partials/single";
    @import "partials/mobile-menu";
    @import "partials/searchable";
    @import "partials/add-job";
    @import "partials/responsive";

