// Form Styles
//==============================================================================
// Site wide styles for all form elements


// Helpers 
//==============================================================================
input:focus, textarea:focus, select:focus { outline: 0; }

select {
	@include vendor(appearance, none);
	// appearance: none resets any browser applied styling on form element. 
	// only supported by Mozilla, Chrome and Safari 
}

// theme Specific styles 
//==============================================================================

label {
	font-size: 0.8em;
    color: #9e9e9e;
	display: block;
}

input, textarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 17px 0;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    transition: all .3s;
	&:hover {
	}

	&:focus:not([readonly]) {
		border-bottom: 1px solid $brandcolor02;
		box-shadow: 0 1px 0 0 $brandcolor02;
	}

	&:focus:not([readonly])+label {
		color: $brandcolor02;
	}

	&.error {
	}

	&.success {

	}
}

select {
		background-color: transparent;
	    border: none;
	    border-bottom: 1px solid #9e9e9e;
	    border-radius: 0;
	    outline: none;
	    height: 3rem;
	    width: 100%;
	    font-size: 1rem;
	    margin: 0 0 17px 0;
	    padding: 0;
	    box-shadow: none;
	    box-sizing: content-box;
	    transition: all .3s;
	option {
	}
}

.combobox {
	position: relative;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #9e9e9e;
	border-radius: 0;
	outline: none;
	height: 3rem;
	width: 100%;
	font-size: 1rem;
	margin: 0 0 17px 0;
	padding: 0;
	box-shadow: none;
	box-sizing: content-box;
	line-height: 100%;
	transition: all .3s;
	line-height: 49px;
	&:before {
		font-family: FontAwesome;
		content: '\f107';
		position: absolute;
		right: 15px;

	}
	.combobox_option {
		display: none;
	}
}

// Style Placeholders
::-webkit-input-placeholder {
   color: #CCCCCC;
}

:-moz-placeholder { /* Firefox 18- */
   color: #CCCCCC;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #CCCCCC;
}

:-ms-input-placeholder {
   color: #CCCCCC;
}